
<%+header%>

<script src=<%=resource%>/jquery-1.9.1.js></script>

<script>

function reg_show_msg(data, status)
{
    if (!data)
    {
        alert("ERROR");
    }
    if (data.status == "ok")
    {
        alert(data.status);
    }
    else if(data.status == "error")
    {
        alert(data.status + " " + data.errors);
    }
    else
    {
        alert(JSON.stringify(data));
    }
}

function register_vpn()
{
    $.getJSON('register_vpn?' + $('#register_vpn_form').serialize()).done(reg_show_msg);
}

function current_vpn()
{
    $.getJSON('current_vpn').done(reg_show_msg);
}

function register_gw()
{
    $.getJSON('dash7_register?' + $('#register_gw_form').serialize()).done(reg_show_msg);
}

function register_serv()
{
    $.getJSON('dash7_server?' + $('#serverForm').serialize()).done(reg_show_msg);
}

</script>

<div class="cbi-map" id="cbi-dash7">

    <h2><a name="content">Remote Server Settings</a></h2>

    <form id="register_gw_form" name="register_gw_form" action="">

    <table cellspacing="10">
        <tr>
            <td>Login </td> <td><input type="text" name="login"></td>
            <td>Password </td> <td><input type="password" name="password"></td>
        </tr>
    </table>

    </form>

    <button onclick="register_gw()">Register</button>

    <form id="register_vpn_form" name="register_vpn_form" action="">

    <table cellspacing="10">
        <tr>
            <td>VPN Server </td> <td><input type="text" name="vpn_server"></td>
        </tr>
    </table>

    </form>

    <button onclick="register_vpn()">Register VPN</button>

    <button onclick="current_vpn()">Check current VPN</button>

    <form id="serverForm" name="serverForm" action="">

    <table cellspacing="10">
        <tr>
            <td>Server </td> <td><input type="text" name="server"></td>
        </tr>
    </table>

    </form>

    <button onclick="register_serv()">Update Server</button>

</div>

<%+footer%>
