<%+header%>


<script src=<%=resource%>/jquery-1.9.1.js></script>
<script src=<%=resource%>/bootstrap.min.js></script>
<script src=<%=resource%>/wisense/wisense.js></script>

<link rel="stylesheet" type="text/css" href=<%=resource%>/wisense/wisense.css>

<style>
    div.circle
    {
        border: 3px solid black;
        border-radius: 50%;
        width: 100px; height: 100px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .xmlfield {
        height: 70px;
        width: 370px;
        margin: 3px;
    }

    .container {
        max-width: 2000px;
        width: 1600px
    }
</style>

<script>
    // Const values
    var TMP_TITLE   = "Temperature (°C)";
    var HUM_TITLE   = "Humidity (%)";
    var PRE_TITLE   = "Pressure (hPa)";
    var ACC_TITLE   = "Accelerometer";
    var LIG_TITLE   = "Light intensity (ADC value)";
    var RTYPE_TITLE = "Report type";

    var MEAS_TITLE  = "Measurement period (ms)";
    var REPORT_TYPE_TITLE   = "Report type";
    var LOW_THRSH_TITLE     = "Low threshold";
    var HIGH_THRSH_TITLE    = "High threshold";

    var CFG_FILE_ID     = 0xc0;
    var MEAS_OFFSET     = 0;
    var RTYPE_OFFSET    = 2;
    var LTH_OFFSET      = 3;
    var HTH_OFFSET      = 5;

    var LIG_OFFSET      = 6;
    var ACC_OFFSET      = 13;
    var TMP_OFFSET      = 20;
    var HUM_OFFSET      = 27;
    var PRE_OFFSET      = 34;

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    function create_cfg_content(uid, offset)
    {
        // Create new entry
        var div = $('<div></div>');

        // Measurement config
        var meas = create_wr_div(MEAS_TITLE, 'meas_'+uid, uid, CFG_FILE_ID, offset + MEAS_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        div.append(meas);

        var opts = ["ALWAYS", "INSIDE_RANGE", "OUTSIDE_RANGE", "BOUNDARY_CROSSING", "HYSTERESIS", "ON_CHANGE"];

        // Reporting type
        var rtype = create_wr_div(RTYPE_TITLE, 'meas_'+uid, uid, CFG_FILE_ID, offset + RTYPE_OFFSET, 1, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif", opts);
        div.append(rtype);

        // Low thresholdconfig
        var low_thrsh = create_wr_div(LOW_THRSH_TITLE, 'low_thrsh_'+uid, uid, CFG_FILE_ID, offset + LTH_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        div.append(low_thrsh);

        // High thresholdconfig
        var high_thrsh = create_wr_div(HIGH_THRSH_TITLE, 'high_thrsh_'+uid, uid, CFG_FILE_ID, offset + HTH_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        div.append(high_thrsh);

        return div;

    }

    // Deprecated
    function create_cfg_entry(title, uid, offset)
    {
        // Create new entry
        var fieldset = $('<fieldset class="cbi-section" ></fieldset>')
        .append($('<legend> ' + title + '</legend>'));

        $('#cbi-dash7').append(fieldset);

        // Measurement config
        var meas = create_wr_div(MEAS_TITLE, 'meas_'+uid, uid, CFG_FILE_ID, offset + MEAS_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        fieldset.append(meas);

        var opts = ["ALWAYS", "INSIDE_RANGE", "OUTSIDE_RANGE", "BOUNDARY_CROSSING", "HYSTERESIS"];

        // Reporting type
        var rtype = create_wr_div(RTYPE_TITLE, 'meas_'+uid, uid, CFG_FILE_ID, offset + RTYPE_OFFSET, 1, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif", opts);
        fieldset.append(rtype);

        // Low thresholdconfig
        var low_thrsh = create_wr_div(LOW_THRSH_TITLE, 'low_thrsh_'+uid, uid, CFG_FILE_ID, offset + LTH_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        fieldset.append(low_thrsh);

        // High thresholdconfig
        var high_thrsh = create_wr_div(HIGH_THRSH_TITLE, 'high_thrsh_'+uid, uid, CFG_FILE_ID, offset + HTH_OFFSET, 2, 2, "0-65535", true, true, false, "<%=resource%>/icons/loading.gif");
        fieldset.append(high_thrsh);

    }

    function create_page()
    {
        var uid = getParameterByName('uid');
        var title = $('<h2><a id="content" name="content">Sensor Configuration: Address ' + uid + '</a></h2>');
        $('#cbi-dash7').prepend(title);

        //create_cfg_entry(LIG_TITLE, uid, LIG_OFFSET);
        //create_cfg_entry(ACC_TITLE, uid, ACC_OFFSET);
        //create_cfg_entry(TMP_TITLE, uid, TMP_OFFSET);
        //create_cfg_entry(HUM_TITLE, uid, HUM_OFFSET);
        //create_cfg_entry(PRE_TITLE, uid, PRE_OFFSET);

        var content = create_cfg_content(uid, LIG_OFFSET);
        create_wisense_panel($("#accordion"), 'lig', false, LIG_TITLE, content);

        content = create_cfg_content(uid, ACC_OFFSET);
        create_wisense_panel($("#accordion"), 'acc', false, ACC_TITLE, content);

        content = create_cfg_content(uid, TMP_OFFSET);
        create_wisense_panel($("#accordion"), 'tmp', false, TMP_TITLE, content);

        content = create_cfg_content(uid, HUM_OFFSET);
        create_wisense_panel($("#accordion"), 'hum', false, HUM_TITLE, content);

        content = create_cfg_content(uid, PRE_OFFSET);
        create_wisense_panel($("#accordion"), 'pre', false, PRE_TITLE, content);
    }

    $(document).ready(function () {
        create_page();
    });

</script>

<div class="cbi-map" id="cbi-dash7">

    <div class="panel-group" id="accordion"></div>

</div>

<%+footer%>
