
<!-- Latest compiled and minified CSS -->
<!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" -->

<%+header%>


<script src=<%=resource%>/jquery-1.9.1.js></script>
<script src=<%=resource%>/bootstrap.min.js></script>
<script src=<%=resource%>/wisense/wisense.js></script>

<link rel="stylesheet" type="text/css" href=<%=resource%>/wisense/wisense.css>

<style>

div.circle
{
    border: 3px solid black;
    border-radius: 50%;
    width: 100px; height: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.xmlfield {
    height: 70px;
    width: 270px;
    margin: 3px;
}

.container {
    max-width: 2000px;
    width: 1500px
}

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("<%=resource%>/wisense/glyphicons-halflings-regular-f0286776b8fb347839501ff1e32f6f0b.eot?#iefix") format("embedded-opentype"), url("<%=resource%>/wisense/glyphicons-halflings-regular-b9b4ad9cb373c5d5c8953a1934dd1752.woff") format("woff"), url("<%=resource%>/wisense/glyphicons-halflings-regular-347ccc337176b231faa72ca5b6ad17fa.ttf") format("truetype"), url("<%=resource%>/wisense/glyphicons-halflings-regular-be953df57ff75051d00ccc27573f724f.svg#glyphicons_halflingsregular") format("svg");
}
@font-face {
    font-family: "Segment 14";
    src: url("<%=resource%>/wisense/Segment14-a0de1dc434e96ad159f92c6cf6274f60.otf");
}

</style>


<script>
    // Const values
    var BTN1_TITLE = "Left Button";
    var BTN2_TITLE = "Right Button";
    var LED1_TITLE = "Red Led";
    var LED2_TITLE = "Green Led";
    var TS_TITLE   = "Last communication";
    var LB_TITLE   = "Link Budget";
    var TMP_TITLE   = "Temperature (°C)";
    var HUM_TITLE   = "Humidity (%)";
    var PRE_TITLE   = "Pressure (hPa)";
    var ACC_TITLE   = "Accelerometer";
    var LIG_TITLE   = "Light intensity (ADC value)";
    var DAC_TITLE   = "DAC";

    var UNDEFINED_STR = "--";

    var BTN_DUR = 3000; // miliseconds
    //var POLL_PER = 10; // As we are using long poll, we can poll just after a sucess poll
    var POLL_PER = 250; // Common poll

    // Global values
    var g_last_modif = 0;
    var g_gw_time = 0;
    var g_poll_timer;
    var g_ajax = false;

    function update_wisense_entry(obj)
    {
        // Get entry object by id
        var gui_entry = $("#"+obj.uid);

        if (!gui_entry.length)
        {
            return false;
        }

        // Update ts
        var ts_obj = $('#ts_' + obj.uid).text(TS_TITLE + ":" + get_unix_formatted_time(obj.ts));

        // Update lb
        var lb_obj = $('#lb_' + obj.uid).text(LB_TITLE + ":" + obj.lb);

        // Update button 1
        update_button(gui_entry.find(".btn1") , obj.btn1, g_gw_time);

        // Update button 2
        update_button(gui_entry.find(".btn2") , obj.btn2, g_gw_time);

        // Update Temperature
        update_info(gui_entry.find(".tmp") , obj.tmp);

        // Update Humidity
        update_info(gui_entry.find(".hum") , obj.hum);

        // Update Pressure
        update_info(gui_entry.find(".pre") , obj.pre);

        // Update Light
        update_info(gui_entry.find(".lig") , obj.lig);

        // Update Accelerometer
        update_acc(gui_entry.find(".acc") , obj.x, obj.y, obj.z);

        return true;
    }

    function create_wisense_panel_content(obj)
    {
         var div = $('<div></div>');

        // Add info table (ts and lb)
        var table = $('<table style="border-collapse: collapse; padding: 0; margin: 0;"></table>');
        div.append(table);
        table.append($('<col width="260">'))
        var row = $('<tr></tr>');
        table.append(row);

        // Adding ts
        var col = $('<td style="border-top:none; padding: 0; margin: 0;"></td>');
        row.append(col);
        col.append($('<div id=ts_' + obj.uid + '></div>').text(TS_TITLE + ":" + get_unix_formatted_time(obj.ts)));

        // Adding link budget
        var col = $('<td style="border-top:none; padding: 0; margin: 0;"></td>');
        row.append(col);
        col.append($('<div id=lb_' + obj.uid + '></div>').text(LB_TITLE + ":" + obj.lb));

        // btn2
        var btn2 = create_button_div(BTN2_TITLE, obj.btn2, "btn2", g_gw_time);
        div.append(btn2);

        // Led 1
        var led1= create_led_div(LED1_TITLE, 1, obj.uid, "<%=resource%>/icons/loading.gif");
        div.append(led1);

        // Temperature
        var tmp = create_info_div(TMP_TITLE, obj.tmp, "tmp");
        div.append(tmp);

        // Humidity
        var hum = create_info_div(HUM_TITLE, obj.hum, "hum");
        div.append(hum);

        // Pressure
        var pre = create_info_div(PRE_TITLE, obj.pre, "pre");
        div.append(pre);

        // btn1
        var btn1 = create_button_div(BTN1_TITLE, obj.btn1, "btn1", g_gw_time);
        div.append(btn1);

        // Led 2
        var led2 = create_led_div(LED2_TITLE, 2, obj.uid, "<%=resource%>/icons/loading.gif");
        div.append(led2);

        // Light
        var lig = create_info_div(LIG_TITLE, obj.lig, "lig");
        div.append(lig);

        // Accelerometer
        var acc = create_acc_div(ACC_TITLE, obj.x, obj.y, obj.z, "acc");
        div.append(acc);

        // Dac
        var dac = create_wr_div(DAC_TITLE, 'dac_'+obj.uid, obj.uid, 0xd2, 0, 2, 2, "0-2048", true, true, true, "<%=resource%>/icons/loading.gif");
        div.append(dac);

        return div;
    }

    // Deprecated
    function create_wisense_entry(obj, before_el, title)
    {

        // Create new entry
        var fieldset = $('<fieldset class="cbi-section entry" id="' + obj.uid + '"></fieldset>');

        // Add this new entry to the page
        if (before_el)
        {
            fieldset.insertBefore(before_el);
        }
        else
        {
            // if before is not defined, just append
            $('#cbi-dash7').append(fieldset);
        }

        var content = create_wisense_panel_content(obj);

        var legend = $('<legend>' + title + '</legend>');
        fieldset.append(legend);

        fieldset.append(content);

    }

    function get_before_el(obj)
    {
        var before_el = false;

        // Loop through all entries
        $(".entry").each( function(idx, value)
        {
            if (!before_el && value.id > obj.uid)
            {
                before_el = value;
            }

        });


        return before_el;
    }

    // =======================================
    // update_or_create_entry
    // ---------------------------------------
    // @brief   try to update an existing entry
    //          or create it if it does not exist
    // =======================================
    function update_or_create_entry(obj)
    {
        if (!update_wisense_entry(obj))
        {
            var before_el = get_before_el(obj);
            // FIXME This is a trick <a> tag that may not work in all browsers
            var title = 'Sensor Address ' + obj.uid + '<a class="btn btn-link" href="' + WISENSE_BASE_ADDR + 'cfg?uid='
                            + obj.uid + '"><span class="glyphicon glyphicon-cog"> </span></a>';
            //create_wisense_entry(obj, before_el, title);

            var content = create_wisense_panel_content(obj);
            create_wisense_panel($("#accordion"), obj.uid, before_el, title, content);
        }
    }

    // =======================================
    // page_update
    // ---------------------------------------
    // @brief   Retrieves the file from the gateway
    //          and iterate over all its objects
    //          updating the page
    // =======================================
    function page_update(obj)
    {
        console.log("Page update");
        if (obj)
        {
            g_last_modif = obj.ts;
            g_gw_time = obj.now;
            var data = obj.data;

            if (data)
            {
                Object.keys(data).forEach(function (key)
                {
                    console.log(key)
                    // Insert the key inside the object
                    data[key].uid = key;
                    update_or_create_entry(data[key]);
                });
            }
        }

        if (!$(".entry").length)
        {
            $('#no_sensors_msg').show();
        }
        else
        {
            $('#no_sensors_msg').hide();
        }
    }

    function scan_sensors()
    {
        // Stop polling
        clearTimeout(g_poll_timer);

        $('#no_sensors_msg').hide();

        // abort current request if any
        if (g_ajax)
        {
            // TODO: Add a proper flag to abort
            //g_ajax.abort();
            g_ajax = false;
        }

        // Clear page
        $(".entry").remove();

        // Perform the request
        // If request is succesfull update page
        // If fail, set g_last_modif to 0 (to restart all data)
        // Restart polling in both cases
        $.getJSON(WISENSE_BASE_ADDR + "scan")
                .done(function(data, status) { page_update(data); g_poll_timer = setTimeout(poll, POLL_PER); })
                .fail(function( jqxhr, textStatus, error ) { g_last_modif = 0; g_poll_timer = setTimeout(poll, POLL_PER); });

    }

    function poll()
    {
        console.log("poll");
        g_ajax = $.getJSON(WISENSE_BASE_ADDR + "info?ts="+g_last_modif)
                .done(function(data, status)
                        {
                            if(g_ajax)
                            {
                                g_ajax = false;
                                console.log("poll ok");
                                page_update(data);
                                g_poll_timer = setTimeout(poll, POLL_PER);
                            }
                        })
                .fail(function( jqxhr, textStatus, error )
                        {
                            if(g_ajax)
                            {
                                g_ajax = false;
                                console.error("getJSON failed, status: " + textStatus + ", error: "+error);
                                g_poll_timer = setTimeout(poll, POLL_PER);
                            }
                        });
    }

    $(document).ready(function () {
        g_poll_timer = setTimeout(poll, 1);
    });

</script>



<div class="cbi-map" id="cbi-dash7">

    <!-- div style="display: block;" class="spinner-indicator" id="spinner-indicator" -->
	<!-- div class="spinner-tick" id="spinner-tick" style="display: none;">✓</div -->
	<!-- div class="spinner-tick-error" id="spinner-tick-error" style="display: block;">✗</div -->
    <!-- div id="spinner-tick" class="spinner-tick" style="display: block;">✓</div -->

    <h2><a id="content" name="content">Sensor Information</a></h2>

    <button id=scan_button class="cbi-button-reload btn default" style="width:100px" onclick="scan_sensors();">Scan</button><br><br>

    <div hidden id=no_sensors_msg><p>No sensors were found<p></div>

    <div class="panel-group" id="accordion"></div>

</div>

<%+footer%>
